client {
	enabled = true
	servers = [{% for server in client_servers %} "{{ server | string }}", {% endfor %}]
	state_dir = "{{ client_state_dir }}"

	{% for volume in host_volumes -%}
	host_volume "{{ volume.name }}" {
		path = "{{ volume.path }}"
		read_only = {{ volume.read_only | default(false) | bool | lower }}
	}
	{% endfor %}

	{% for network in host_networks -%}
	host_network "{{ network.name }}" {
		cidr = "{{ network.cidr if network.get('cidr') else "" | string }}"
		interface = "{{ network.interface if network.get('interface') else "" | string }}"
		reserved_ports = "{{ network.reserved_ports if network.get('reserved_ports') else "" | string }}"
	}
	{% endfor %}

}
